<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location>
		<system.webServer>		
			<httpProtocol xdt:Transform="Insert">
				<customHeaders>
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>
			<security xdt:Transform="Insert">
				<requestFiltering removeServerHeader="true" />
			</security>
			<aspNetCore>
				<environmentVariables xdt:Transform="Insert">
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>